extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    div.myFavouriteMovies
        h5 My Favourire Movies
        ul
            li Black Panther
            li Thor
            li Limitless
